services:
  backend:
    build: 
      context: ./backend
      args:
        # API_URL: ${VITE_API_URL}
        PORT: ${BACKEND_PORT}
    environment:
        API_URL: ${VITE_API_URL}
        PORT: ${BACKEND_PORT}

    container_name: backend
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"
    restart: unless-stopped

  frontend:
    build: 
      context: ./frontend
      args:
        VITE_API_URL: ${VITE_API_URL}
        PORT: ${FRONTEND_PORT}
    environment:
      - VITE_API_URL=${VITE_API_URL}
      - FRONTEND_PORT=${FRONTEND_PORT}

    container_name: frontend
    ports:
      - "${FRONTEND_PORT}:80"   
    restart: unless-stopped
