services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8230:8230"
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "5173:80"   
    restart: unless-stopped
